@import "tailwindcss";

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popup-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-popup {
  animation: popup 0.25s ease-out;
}

.animate-popup-out {
  animation: popup-out 0.25s ease-in;
}

comment {
  display: inline; /* make it visible like a <span> */
  cursor: pointer; /* clickable */
  background-color: #fef08a;
  border-radius: 2px;
  padding: 0 2px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
